<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <link rel="shortcut icon" href="/favicon.ico" />
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div id="container">
      <div id="loading">
          游戏资源正在载入中，请耐心等候。。。
      </div>
      <div id="mapArea">
          <div id="scaleContainer">
              <!--<canvas id="roomBoard" width="1091" height="1091">-->
              <!--</canvas>-->
              <div id="roomBoard">
                  <div id="roomContainer"></div>
              </div>
              <div id="elementBoard">
                  <div id="elementContainer">
                      <div id="roomMask">
                          <img src="/images/blank.gif" id='roomMap' width="1091" height="1091"/>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div id="infoBoard">
          <div id="infoHeader">密室惊魂</div>
          <div id="roomPlayers">
          </div>
          <div id="roomActions">
              <button id="readyButton">准备</button>
              <button id="exitButton">离开</button>
          </div>
      </div>
      <div id="chatArea">
          <div id="chatBoard">
          </div>
          <div id="inputBox">
              <div id="inputTitle">
                  <span>发言区：(直接回车可提前结束发言)</span><button onclick="if(confirm('确定聊天区域所有内容？'))cls();">清屏</button>
              </div>
              <input id="input" type="text"/>
          </div>
      </div>
  </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/resource.js"></script>
  <script src="/javascripts/game.js"></script>
</html>
