<!DOCTYPE html>
<html>
  <head>
    <title>密室惊魂 - <%= roomId %> 号房间</title>
      <meta name="viewport" content="initial-scale=1.0, width=device-width">
      <meta name="description"
            content="在线玩密室，手机、平板、电脑都支持！">
      <link rel="shortcut icon" href="/favicon.ico" />
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div id="container">
      <div id="loading">
          游戏资源正在载入中，请耐心等候。。。
      </div>
      <div id="mapArea">
          <div id="scaleContainer">
              <!--<canvas id="roomBoard" width="1091" height="1091">-->
              <!--</canvas>-->
              <div id="roomBoard">
                  <div id="roomContainer"></div>
              </div>
              <div id="elementBoard">
                  <div id="elementContainer">
                      <div id="roomMask">
                          <img src="/images/blank.gif" id='roomMap' width="1091" height="1091"/>
                      </div>
                      <div id="disarmIndicator">
                          <div>准备<br/><span id="disarm1">?</span>人+</div>
                          <div>拆除<br/><span id="disarm2">?</span>人+</div>
                      </div>
                      <div id="clueIndicator">
                          <img src="/images/level1.png" alt="【1】级线索卡" title="【1】级线索卡"/> <br/>
                          <span id="clue1">?</span> <br/><br/><br/>
                          <img src="/images/level2.png" alt="【2】级线索卡" title="【2】级线索卡"/> <br/>
                          <span id="clue2">?</span> <br/><br/><br/>
                          <img src="/images/level3.png" alt="【3】级线索卡" title="【3】级线索卡"/> <br/>
                          <span id="clue3">?</span> <br/>
                      </div>
                  </div>
              </div>
          </div>
          <div id="tooltip" style="display: none;"></div>
      </div>
      <div id="infoBoard">
          <div id="infoHeader">密室惊魂</div>
          <div id="roomPlayers">
          </div>
          <div id="roomActions">
              <button id="readyButton">准备</button>
              <button id="exitButton">离开</button>
          </div>
      </div>
      <div id="chatArea">
          <div id="chatBoard">
          </div>
          <div id="inputBox">
              <div id="inputTitle">
                  <span>发言区：(直接回车可提前结束发言)</span>
                  <div id="buttonContainer">
                      <button id="resetButton">重新开始</button>
                      <button id="keyTransform">钥匙</button>
                      <button id="keyVote">抢钥匙</button>
                      <button id="cls" onclick="if(confirm('确定聊天区域所有内容？'))cls();">清屏</button>
                      <button id="send">发送</button>
                  </div>
              </div>
              <input id="input" type="text"/>
          </div>
      </div>
  </div>
  </body>
  <script type="text/javascript">
      var Game = {
          roomId: "<%= roomId%>",
          mode: "<%= mode%>",
          rooms: [],
          players: [],
          elements: [],
          started: false
      }
  </script>
  <script src="<% if (roomId != 0) { %>/socket.io/socket.io.js<%} else {%>/javascripts/tutorial.js<%}%>"></script>
  <script src="/javascripts/resource.js"></script>
  <script src="/javascripts/game.js"></script>
</html>
