html, body {
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
    width:  100%;
    height: 100%;
    margin: 0;
}

a {
    color: #00B7FF;
}

#container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#loading {
    width: 100%;
    margin-top: 100px;
    text-align: center;
    font-size: 24px;
}

#infoBoard {
    width: 200px;
    position: absolute;
    background-color: black;
    border-radius: 12px;
    border: 2px solid rgb(227, 227, 227);
    opacity: 0.9;
    padding-bottom: 8px;
    display: none;
}

#infoHeader {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}

#roomPlayers {
    width: 100%;
    background-color: rgb(44, 44, 44);
    border-top:1px solid rgb(227, 227, 227);
    border-bottom:1px solid rgb(227, 227, 227);
    color: rgb(222, 222, 222);
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 140px;
    line-height: 16px;
    margin-bottom: 5px;
    max-width: 340px;
    min-height: 20px;
    padding: 8px 0;
    overflow: scroll;
    text-align: center;
}

.room-player span{
    margin: 0 5px;
}

.room-player span:first-child {
    color: gold;
}

#roomActions {
    text-align: center;
    width: 100%;
}

#roomActions button {
    background-color: rgb(44, 44, 44);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    height: 24px;
    line-height: 12px;
    margin: 2px;
    padding: 5px 12px;
}

#mapArea{
    float: left;
    top: 0;
    position: relative;
}

#roomBoard{
    position:absolute;
    top: 0;
    left: 0;
    width: 1091px;
    height: 1091px;
}

#elementBoard {
    position:absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 1091px;
    height: 1091px;
}

#elementContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

#roomMask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#chatArea {
    position: relative;
    overflow: hidden;
    display: none;
}

#chatBoard {
    overflow: scroll;
    background: #444;
    line-height: 20px;
    color: white;
}

#inputBox {
    bottom: 0;
    padding: 0 10px 5px 10px;
    line-height: 24px;
    background: #222;
    color: darkorange;
    overflow-x: hidden;
    white-space: nowrap;
}

#inputTitle {
    box-sizing: border-box;
    display: block;
    position: relative;
    margin: 2px 0;
}

#inputTitle>span {
    display: inline;
}

#inputTitle>button {
    display: inline;
    position: absolute;
    right: 0;
}

#input {
    display: block;
    box-sizing: border-box;
    line-height: 20px;
    width: 100%;
    background-color: #444;
    color: white;
}

#chatBoard>div {
    display: block;
    margin-top: 1px;
    padding: 0 10px 0 5px;
}

#chatBoard>div>span.time {
    margin: 0 5px 0 0;
    color: #aaa;
}

#chatBoard>div>span.player {
    color: turquoise;
}

#chatBoard>div>span.self {
    color: greenyellow;
}

#chatBoard>div>span.stage {
    color: orange;
    border: orange 1px dashed;
    border-radius: 4px;
    margin: 2px 0;
    padding: 2px 3px;
}

#chatBoard>div>span.notice {
    color: yellow;
    border: yellow 1px dotted;
    border-radius: 4px;
    margin: 2px 0;
    padding: 2px 3px;
}

.player-holder {
    position: absolute;
    width: 100%;
    height: 100%;
}

.count-down-container {
    position: absolute;
    width: 56px;
    height: 5px;
    left: 50%;
    margin-left: -30px;
    bottom: -6px;
    border-radius: 8px;
    border: dimgray 2px solid;
    display: none;
}

.count-down {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: darkorange;
}