html, body {
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
    width:  100%;
    height: 100%;
    margin: 0;
}

a {
    color: #00B7FF;
}

#container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#loading {
    width: 100%;
    margin-top: 100px;
    text-align: center;
    font-size: 24px;
}

#mapArea{
    float: left;
    top: 0;
    position: relative;
}

#roomBoard{
    position:absolute;
    top: 0;
    left: 0;
    width: 1091px;
    height: 1091px;
}

#elementBoard {
    position:absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 1091px;
    height: 1091px;
}

#elementContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

#roomMask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#chatArea {
    position: relative;
    overflow: hidden;
    display: none;
}

#chatBoard {
    overflow: scroll;
    background: #444;
    line-height: 20px;
    color: white;
}

#inputBox {
    bottom: 0;
    padding: 0 10px;
    line-height: 24px;
    background: #222;
    color: darkorange;
    overflow-x: hidden;
    white-space: nowrap;
}

#input {
    width: 100%;
    background-color: #444;
    color: white;
}

#chatBoard>div {
    display: block;
    margin-top: 1px;
    padding: 0 10px 0 5px;
}

#chatBoard>div>span.time {
    margin: 0 5px 0 0;
    color: #aaa;
}

#chatBoard>div>span.player {
    color: turquoise;
}

#chatBoard>div>span.self {
    color: greenyellow;
}

#chatBoard>div>span.stage {
    color: orange;
    border: orange 1px dashed;
    border-radius: 4px;
    margin: 2px 0;
    padding: 2px 3px;
}

#chatBoard>div>span.notice {
    color: yellow;
    border: yellow 1px dotted;
    border-radius: 4px;
    margin: 2px 0;
    padding: 2px 3px;
}
